[tool.poetry]
name = "sched2"
version = "0.1.0"
description = "Event scheduler"
authors = ["Pedro Rodrigues <medecau@gmail.com>"]
homepage = "https://github.com/medecau/sched2"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
